[Unit]
Description=UART TFT Implementation for Klipper
After=multi-user.target
 
[Service]
ExecStart=/usr/bin/python3 /home/pi/pfuschplay/main.py
 
[Install]
WantedBy=multi-user.target
